createdAt: "2019-11-12T13:46:27.772Z"
updatedAt: "2019-11-12T15:37:58.805Z"
type: "MARKDOWN_NOTE"
folder: "e23473b738c0b865b7d5"
title: "git分支管理"
tags: []
content: '''
  # git分支管理
  ## 基本分支操作
  ### 查看分支
  ```
  git branch
  ```
  ### 创建分支
  ```
  git branch <name>
  ```
  ### 切换分支
  ```
  git checkout <name>
  ```
  ### 创建+切换分支 
  ```
  git checkout -b <name>
  ```
  ### 合并某个分支到当前分支（默认用快速合并模式）
  ```
  git merge <name>
  ```
  ### 删除分支 
  ```
  git branch -d <name>
  ```
  
  ## 解决冲突
      如果两个分支上都对同一个文件进行了修改，并且都提交了修改，那么合并时就会产生冲突，
      这时要自己手动解决冲突，然后再进行提交
      
      如果在两个分支都进行了修改，但是没有冲突，那么使用git merge时，git会自动创建一个
      提交(commit)，需要做的只是写下commit的调校内容
  
  注意：有时尽管可以快速合并(fast-forward)，但是我们会禁用快速合并模式，强制生成一次提交
  ```
  git merge --no-ff -m"禁用fast-forward" new_branch
  ```
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
