createdAt: "2019-10-22T13:04:13.717Z"
updatedAt: "2019-10-22T13:05:38.228Z"
type: "MARKDOWN_NOTE"
folder: "c37e1d68ae43af6fec7a"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
