createdAt: "2019-10-24T06:34:03.829Z"
updatedAt: "2019-10-24T06:34:19.430Z"
type: "SNIPPET_NOTE"
folder: "c37e1d68ae43af6fec7a"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
