createdAt: "2019-10-26T14:53:03.711Z"
updatedAt: "2019-10-26T14:53:41.724Z"
type: "SNIPPET_NOTE"
folder: "c37e1d68ae43af6fec7a"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
